In [41]:
import pandas as pd
import numpy as np

In [42]:
# 엑셀 파일 경로
file_path = "food_data.xlsx"

In [43]:
df = pd.read_excel(file_path)

In [44]:
# 기본 데이터 이해
print("데이터의 기본 정보")
print(df.info())
# 데이터의 행과 열 개수
print("데이터의 행과 열 개수")
print(df.shape)
# 데이터의 통계적 요약
print("데이터의 통계적 요약")
print(df.describe())
# 데이터의 열 이름
print("데이터의 열 이름")
print(df.columns)
# 데이터의 결측치 확인
print("데이터의 결측치 확인")
print(df.isnull().sum())
# 데이터의 중복 확인
print("데이터의 중복 확인")
print(df.duplicated().sum())
# 데이터의 고유값 개수 확인
print("데이터의 고유값 확인")
print(df.nunique())
# 데이터의 데이터 타입 확인
print("데이터의 데이터 타입 확인")
print(df.dtypes)

데이터의 기본 정보
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   음 식 명      400 non-null    object
 1   중량(g)      400 non-null    float64
 2   에너지(kcal)  400 non-null    float64
 3   탄수화물(g)    400 non-null    float64
 4   당류(g)      400 non-null    float64
 5   지방(g)      400 non-null    float64
 6   단백질(g)     400 non-null    float64
 7   칼슘(mg)     400 non-null    object
 8   인(mg)      400 non-null    object
 9   나트륨(mg)    400 non-null    float64
 10  칼륨(mg)     400 non-null    object
 11  마그네슘(mg)   400 non-null    object
 12  철(mg)      400 non-null    object
 13  아연(mg)     400 non-null    object
 14  콜레스테롤(mg)  400 non-null    float64
 15  트랜스지방(g)   400 non-null    int64
dtypes: float64(8), int64(1), object(7)
memory usage: 50.1+ KB
None
데이터의 행과 열 개수
(400, 16)
데이터의 통계적 요약
             중량(g)    에너지(kcal)     탄수화물(g)       당류(g)       지방(g)  \
count   400.000000   400.000000  400.000000  400.000000  400.000000
mean    322.425250   330.958890   39.197568    2.663377   11.298881
std     272.686979   244.523624   36.123958    5.484688   12.472310
min      10.000000     3.904200    0.182400    0.000000    0.020400
25%     100.000000   131.996625   10.191300    0.000000    2.364000
50%     220.000000   266.630600   23.824250    0.000000    7.170750
75%     500.000000   507.432000   67.497000    2.997000   16.398500
max    1500.000000  1358.384000  153.785100   57.524000   99.516400

           단백질(g)      나트륨(mg)    콜레스테롤(mg)  트랜스지방(g)
count  400.000000   400.000000   400.000000     400.0
mean    18.284522  1032.394070    97.316529       0.0
std     16.546250   779.904987   153.944099       0.0
min      0.112900     3.392000     0.000000       0.0
25%      5.499500   352.673500     0.000000       0.0
50%     14.673000   867.430800    40.089450       0.0
75%     24.963000  1515.520000   134.722250       0.0
max    114.902000  5290.091000  1480.970000       0.0
데이터의 열 이름
Index(['음 식 명', '중량(g)', '에너지(kcal)', '탄수화물(g)', '당류(g)', '지방(g)', '단백질(g)',
       '칼슘(mg)', '인(mg)', '나트륨(mg)', '칼륨(mg)', '마그네슘(mg)', '철(mg)', '아연(mg)',
       '콜레스테롤(mg)', '트랜스지방(g)'],
      dtype='object')
데이터의 결측치 확인
음 식 명        0
중량(g)        0
에너지(kcal)    0
탄수화물(g)      0
당류(g)        0
지방(g)        0
단백질(g)       0
칼슘(mg)       0
인(mg)        0
나트륨(mg)      0
칼륨(mg)       0
마그네슘(mg)     0
철(mg)        0
아연(mg)       0
콜레스테롤(mg)    0
트랜스지방(g)     0
dtype: int64
데이터의 중복 확인
0
데이터의 고유값 확인
음 식 명        400
중량(g)         33
에너지(kcal)    400
탄수화물(g)      398
당류(g)        163
지방(g)        400
단백질(g)       400
칼슘(mg)       399
인(mg)        399
나트륨(mg)      399
칼륨(mg)       399
마그네슘(mg)     117
철(mg)        397
아연(mg)       396
콜레스테롤(mg)    289
트랜스지방(g)       1
dtype: int64
데이터의 데이터 타입 확인
음 식 명         object
중량(g)        float64
에너지(kcal)    float64
탄수화물(g)      float64
당류(g)        float64
지방(g)        float64
단백질(g)       float64
칼슘(mg)        object
인(mg)         object
나트륨(mg)      float64
칼륨(mg)        object
마그네슘(mg)      object
철(mg)         object
아연(mg)        object
콜레스테롤(mg)    float64
트랜스지방(g)       int64
dtype: object

# 정제 방향성

### 1. 전체 데이터(제목행 포함) 띄어쓰기 제거

### 2. 결측치 처리
- "-" => 0.00 변경

### 3. 학교 식단과 매핑(메뉴명 학교st로 바꿈)

### 4. SQL문 생성

# 1. 띄어쓰기 제거

In [45]:
# value 공백 제거
df = df.applymap(lambda x: x.replace(" ", "") if isinstance(x, str) else x)

# clumn 공백 제거
df.columns = df.columns.str.replace(" ", "")

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_13644\900354131.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.replace(" ", "") if isinstance(x, str) else x)

In [46]:
print(df.head())

     음식명  중량(g)  에너지(kcal)   탄수화물(g)  당류(g)   지방(g)   단백질(g)  칼슘(mg)    인(mg)  \
0     쌀밥  210.0    334.800   73.7100    0.0  0.4500   5.7600     3.6      126
1  기타잡곡밥  200.0    302.362   65.5211    0.0  0.7462   6.7092   12.06  117.836
2     콩밥  200.0    322.900   65.8460    0.0  1.6660   8.4280    24.7    126.9
3    보리밥  200.0    316.100   70.5700    0.0  0.1400   5.5500     6.7     68.8
4    돌솥밥  350.0    528.855  101.8500    0.0  8.3470  10.1870  61.455   193.72

   나트륨(mg)   칼륨(mg) 마그네슘(mg)   철(mg)  아연(mg)  콜레스테롤(mg)  트랜스지방(g)
0   59.400    146.7        -    0.36    1.35      0.000         0
1    3.392  166.718      6.9  1.7447  1.8264      0.000         0
2    4.100    258.4     22.5    1.74    1.61      0.000         0
3    4.500    100.6        0    1.26    1.41      0.000         0
4  618.315   624.32   57.785   3.321   2.582      2.365         0

In [47]:
# 공백 문자 제거(탭, 줄바꿈 등)
import re
df = df.applymap(lambda x: re.sub(r"\s+", "", x) if isinstance(x, str) else x)
df.columns = [re.sub(r"\s+", "", col) for col in df.columns]

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_13644\3317425579.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: re.sub(r"\s+", "", x) if isinstance(x, str) else x)

In [48]:
print(df.head())

     음식명  중량(g)  에너지(kcal)   탄수화물(g)  당류(g)   지방(g)   단백질(g)  칼슘(mg)    인(mg)  \
0     쌀밥  210.0    334.800   73.7100    0.0  0.4500   5.7600     3.6      126
1  기타잡곡밥  200.0    302.362   65.5211    0.0  0.7462   6.7092   12.06  117.836
2     콩밥  200.0    322.900   65.8460    0.0  1.6660   8.4280    24.7    126.9
3    보리밥  200.0    316.100   70.5700    0.0  0.1400   5.5500     6.7     68.8
4    돌솥밥  350.0    528.855  101.8500    0.0  8.3470  10.1870  61.455   193.72

   나트륨(mg)   칼륨(mg) 마그네슘(mg)   철(mg)  아연(mg)  콜레스테롤(mg)  트랜스지방(g)
0   59.400    146.7        -    0.36    1.35      0.000         0
1    3.392  166.718      6.9  1.7447  1.8264      0.000         0
2    4.100    258.4     22.5    1.74    1.61      0.000         0
3    4.500    100.6        0    1.26    1.41      0.000         0
4  618.315   624.32   57.785   3.321   2.582      2.365         0

# 2. 결측치 처리

### 1. 음식명 col 빼고는 모두 numeric
음식명 말고 모든 dtype은 float이어야 함

In [49]:
# dtype 확인
print("데이터의 기본 정보")
print(df.info())

데이터의 기본 정보
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   음식명        400 non-null    object
 1   중량(g)      400 non-null    float64
 2   에너지(kcal)  400 non-null    float64
 3   탄수화물(g)    400 non-null    float64
 4   당류(g)      400 non-null    float64
 5   지방(g)      400 non-null    float64
 6   단백질(g)     400 non-null    float64
 7   칼슘(mg)     400 non-null    object
 8   인(mg)      400 non-null    object
 9   나트륨(mg)    400 non-null    float64
 10  칼륨(mg)     400 non-null    object
 11  마그네슘(mg)   400 non-null    object
 12  철(mg)      400 non-null    object
 13  아연(mg)     400 non-null    object
 14  콜레스테롤(mg)  400 non-null    float64
 15  트랜스지방(g)   400 non-null    int64
dtypes: float64(8), int64(1), object(7)
memory usage: 50.1+ KB
None

In [50]:
# 음식명 제외 dtype 모두 float64로 변환
for col in df.columns[1:]:
    # 에러 발생 시 NaN으로 변환
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [51]:
# 결측치 확인(dtype 변환 후)
print("데이터의 결측치 확인")
print(df.isnull().sum())

데이터의 결측치 확인
음식명            0
중량(g)          0
에너지(kcal)      0
탄수화물(g)        0
당류(g)          0
지방(g)          0
단백질(g)         0
칼슘(mg)         2
인(mg)          2
나트륨(mg)        0
칼륨(mg)         2
마그네슘(mg)     261
철(mg)          2
아연(mg)         2
콜레스테롤(mg)      0
트랜스지방(g)       0
dtype: int64

### 2. -값(NaN) 대체
value 중에서 col이 numeric일 때, -값을 0으로 변환

In [52]:
# 수치값 결측치므로 다 0으로 치환
df.fillna(0, inplace=True)

In [53]:
print("결측치 처리 후 데이터의 결측치 확인")
print(df.isnull().sum())

결측치 처리 후 데이터의 결측치 확인
음식명          0
중량(g)        0
에너지(kcal)    0
탄수화물(g)      0
당류(g)        0
지방(g)        0
단백질(g)       0
칼슘(mg)       0
인(mg)        0
나트륨(mg)      0
칼륨(mg)       0
마그네슘(mg)     0
철(mg)        0
아연(mg)       0
콜레스테롤(mg)    0
트랜스지방(g)     0
dtype: int64

In [54]:
print(df.head())

     음식명  중량(g)  에너지(kcal)   탄수화물(g)  당류(g)   지방(g)   단백질(g)  칼슘(mg)    인(mg)  \
0     쌀밥  210.0    334.800   73.7100    0.0  0.4500   5.7600   3.600  126.000
1  기타잡곡밥  200.0    302.362   65.5211    0.0  0.7462   6.7092  12.060  117.836
2     콩밥  200.0    322.900   65.8460    0.0  1.6660   8.4280  24.700  126.900
3    보리밥  200.0    316.100   70.5700    0.0  0.1400   5.5500   6.700   68.800
4    돌솥밥  350.0    528.855  101.8500    0.0  8.3470  10.1870  61.455  193.720

   나트륨(mg)   칼륨(mg)  마그네슘(mg)   철(mg)  아연(mg)  콜레스테롤(mg)  트랜스지방(g)
0   59.400  146.700     0.000  0.3600  1.3500      0.000         0
1    3.392  166.718     6.900  1.7447  1.8264      0.000         0
2    4.100  258.400    22.500  1.7400  1.6100      0.000         0
3    4.500  100.600     0.000  1.2600  1.4100      0.000         0
4  618.315  624.320    57.785  3.3210  2.5820      2.365         0

### 3. 값이 모두 0이라면 열 제거
트랜스지방의 경우 열 값이 모두 0임 -> 의미 없으므로 빼는 게 맞을 듯

In [55]:
# 데이터의 고유값 개수 확인
print("데이터의 고유값 확인")
print(df.nunique())

데이터의 고유값 확인
음식명          400
중량(g)         33
에너지(kcal)    400
탄수화물(g)      398
당류(g)        163
지방(g)        400
단백질(g)       400
칼슘(mg)       399
인(mg)        399
나트륨(mg)      399
칼륨(mg)       399
마그네슘(mg)     116
철(mg)        397
아연(mg)       396
콜레스테롤(mg)    289
트랜스지방(g)       1
dtype: int64

In [56]:
# 만약 unique 값이 [0]이면 그 column은 삭제
for col in df.columns[1:]:
    if df[col].unique().tolist() == [0]:
        df.drop(columns=[col], inplace=True)

print("삭제 후 열 이름")
print(df.columns)

삭제 후 열 이름
Index(['음식명', '중량(g)', '에너지(kcal)', '탄수화물(g)', '당류(g)', '지방(g)', '단백질(g)',
       '칼슘(mg)', '인(mg)', '나트륨(mg)', '칼륨(mg)', '마그네슘(mg)', '철(mg)', '아연(mg)',
       '콜레스테롤(mg)'],
      dtype='object')

# 3. 학교 식단 이름으로 매핑

### 1. 임시 데이터 다운로드

In [57]:
# 한글이 깨지지 않게 UTF-8 with BOM 형식 저장
df.to_csv('preprocess_food.csv', index=False, encoding='utf-8-sig')

### 2. 식단 데이터 로드

In [58]:
df_school_food = pd.read_csv("preprocess_school_food.csv")

In [59]:
print(df_school_food.head())

        시도명     학교명        급식날짜      메뉴1      메뉴2       메뉴3      메뉴4  \
0  부산광역시교육청  명호고등학교  2022-02-03  돈삼겹숙주덮밥    실파계란국  느타리잔파초무침  당면김말이강정
1  부산광역시교육청  명호고등학교  2022-02-04      찹쌀밥  들깨아욱된장국   냉푸실리파스타  견과류멸치볶음
2  부산광역시교육청  명호고등학교  2022-02-07      찹쌀밥     사골떡국    겨울초겉절이     호박볶음
3  부산광역시교육청  명호고등학교  2022-02-08     돼지국밥    부추겉절이  오이고추된장무침  도토리묵양념장
4  부산광역시교육청  명호고등학교  2022-02-09      자장면  애플모찌탕수육      배추김치      단무지

        메뉴5     메뉴6  메뉴7  ... 탄수화물(g) 단백질(g) 지방(g)  비타민A(R.E)  티아민(mg)  \
0      배추김치     NaN  NaN  ...   109.7   35.7  34.7      125.5      0.6
1  고구마치즈돈까스    배추김치  NaN  ...   130.2   37.1  25.8      192.5      0.5
2    함박스테이크    배추김치  NaN  ...   119.4   36.2  20.7      407.1      0.5
3       석박지     NaN  NaN  ...   110.3   33.5   8.9      158.5      0.6
4      구운계란  제주감귤주스  NaN  ...   110.3   27.2  27.4      227.2      0.4

   리보플라빈(mg)  비타민C(mg)  칼슘(mg)  철분(mg)  에너지(kcal)
0        0.5       9.6   280.2    11.0      892.6
1        0.5      20.2   362.7     3.4      902.1
2        0.5      49.9   384.9     5.0      791.4
3        0.7      34.4    83.4     6.9      641.7
4        1.3      74.3   209.0     9.7      767.5

[5 rows x 23 columns]

# 5. 비교를 위한 형식으로 변환
- 원래 음식명과 학교 식단 비교
- 학교 식단에 맞추어 원래 음식명 매칭
- 원래 음식명은 삭제

In [60]:
df["음식명"].dropna().unique().tolist()
df["음식명"].dropna().to_csv("food_name_origin.txt", index=False, header=False)

In [61]:
school_menu_columns = ["메뉴1", "메뉴2", "메뉴3", "메뉴4", "메뉴5", "메뉴6", "메뉴7", "메뉴8", "메뉴9", "메뉴10"]

menu_cols = [c for c in df_school_food.columns if c.startswith("메뉴")]


# 병합 후 고유갑 추출
school_menu_list = pd.unique(df_school_food[menu_cols].values.ravel())
school_menu_list = pd.Series(school_menu_list).dropna().drop_duplicates().reset_index(drop=True)

# txt로 저장
school_menu_list.to_csv("food_name_school.txt", index=False, header=False, encoding="utf-8-sig")

## 5-1. 길이 유사도 기반 이름 매핑

In [62]:
from difflib import get_close_matches, SequenceMatcher

In [63]:
# 데이터 로드

with open("food_name_origin.txt", encoding="utf-8") as f:
    origin_names = [line.strip() for line in f if line.strip()]

with open("food_name_school.txt", encoding="utf-8") as f:
    school_names = [line.strip() for line in f if line.strip()]

In [64]:
# 매핑 함수
def get_best_match(name, candidates,
                   score_cutoff: float = 0.6,
                   substr_ratio: float = 0.5
                   ):
    """
    name과 candidates를 순회하며
    SequenceMatcher.ratio() 점수
    find_longest_match().size 길이
    기준으로 가장 좋은 후보를 찾고
    두 조건(score_cutoff, substr_ratio) 모두 만족하면 반환
    """
    best = None
    best_score = 0.0
    best_sub_len = 0

    for cand in candidates:
        sm = SequenceMatcher(None, name, cand)
        score = sm.ratio()
        match = sm.find_longest_match(0, len(name), 0, len(cand))
        sub_len = match.size

        if score > best_score:
            best, best_score, best_sub_len = cand, score, sub_len

    # 두 조건 모두 만족하면 리턴
    if best_score >= score_cutoff and best_sub_len >= len(name) * substr_ratio:
        return best, round(best_score, 3), best_sub_len
    return None, round(best_score, 3), best_sub_len

In [65]:
# 매핑 결과 저장
mapped_results = []
for school in school_names:
    best, score, sub_len = get_best_match(school, origin_names)
    mapped_results.append({
        "학교식단": school,
        "음식명": best,
        "유사도": score,
        "최장공통문자길이": sub_len,
        "매칭여부" : "매칭" if best else "미매칭"
    })

In [66]:
df_result = pd.DataFrame(mapped_results)

In [67]:
# 매칭결과 따로 저장
df_result.to_csv("음식명_매핑결과.csv", index=False, encoding="utf-8-sig")

## 5-2. 의미 유사도 기반 이름 매핑
 Semantic Model (S-BERT) 사용

In [68]:
# !pip install sentence-transformers

import torch
from sentence_transformers import SentenceTransformer, util

In [69]:
model = SentenceTransformer("snunlp/KR-SBERT-V40K-klueNLI-augSTS")

In [70]:
# 학교 식단 임베딩
school_embeddings = model.encode(school_names, convert_to_tensor=True)

In [71]:
# semantic 매칭함수
def get_semantic_match(name, candidates, candidates_embeds, top_k=1, score_threshold=0.5 ):
    """
    name:      (str) 매칭할 원본 이름
    candidates:         학교 식단 리스트
    candidates_embeds:  precomputed embeddings for candidates
    top_k:              상위 몇 개 후보를 뽑을지
    score_threshold:    코사인 유사도 최소 기준 (0~1)
    """
    emb = model.encode(name, convert_to_tensor=True)
    # 코사인 유사도 계산
    cos_scores = util.cos_sim(emb, candidates_embeds)[0]
    # 내림차순 정렬 인덱스
    top_results = torch.topk(cos_scores, k=top_k)
    matches=[]
    for score, idx in zip(top_results.values, top_results.indices):
        score = float(score)
        idx = int(idx)
        if score >= score_threshold:
            matches.append((candidates[idx], round(score,3)))
    return matches

In [72]:
# semantic 매핑 수행
semantic_results = []
for name in origin_names:
    matches = get_semantic_match(name, school_names, school_embeddings,
                                 top_k=3, score_threshold=0.6)
    # 결과 형식: [(후보1, score1), (후보2, score2), ...]
    if matches:
        best, best_score = matches[0]
        status = "매칭"
    else:
        best, best_score = None, 0.0
        status = "미매칭"
    semantic_results.append({
        "음식명": name,
        "학교식단": best,
        "semantic 유사도": best_score,
        "매칭여부": status
    })

In [73]:
df_sem = pd.DataFrame(semantic_results)
df_sem.to_csv("음식명_semantic매핑결과.csv", index=False, encoding="utf-8-sig")

## 5-3. 두 결과 합산

In [74]:
import pandas as pd

# 두 결과 불러오기
df_strict = pd.read_csv("음식명_매핑결과.csv", encoding="utf-8-sig")
df_sem = pd.read_csv("음식명_semantic매핑결과.csv", encoding="utf-8-sig")

# 컬럼 이름 정리
df_strict = df_strict.rename(columns={
    "음식명":"음식명_strict",
    "유사도":"유사도_strict"
})
df_sem = df_sem.rename(columns={
    "음식명":"음식명_sem",
    "semantic 유사도": "유사도_sem"
})

In [75]:
# 원래 음식명 기준 merge
df_combined = pd.merge(
    df_strict[["학교식단","음식명_strict","유사도_strict","최장공통문자길이"]],
    df_sem[["학교식단","음식명_sem","유사도_sem"]],
    on="학교식단",
    how="outer"
)

# 결측치 빈 문자열 및 0으로 채우기
df_combined[["음식명_strict","음식명_sem"]] = df_combined[["음식명_strict","음식명_sem"]].fillna("")
df_combined[["유사도_strict","유사도_sem","최장공통문자길이"]] = df_combined[["유사도_strict","유사도_sem","최장공통문자길이"]].fillna(0)

In [76]:
print(df_combined.head())

       학교식단 음식명_strict  유사도_strict  최장공통문자길이 음식명_sem  유사도_sem
0     가쓰오장국                  0.444       1.0            0.000
1    가자미미역국        미역국       0.667       3.0   홍합미역국    0.673
2  가자미포카레구이                  0.500       3.0            0.000
3    가지나물무침       가지나물       0.800       4.0    가지나물    0.834
4    가지콩나물밥                  0.800       2.0            0.000

In [77]:
def pick_final(row, strict_score_thr=0.75, sem_score_thr=0.60):

    # 1. strict가 신뢰기준 이상이고, semantic도 일치하면 strict 우선
    if row["유사도_strict"] >= strict_score_thr:
        return row["음식명_strict"], "strict"
    # 2. strict가 신뢰기준 미만이고, semantic이 신뢰기준 이상이면 semantic
    elif row["유사도_sem"] >= sem_score_thr:
        return row["음식명_sem"], "semantic"
    # 3. 둘 다 낮으면 수동 검토
    return None, "review"

# 최종 추천 + source 칼럼 추가
df_combined[["최종추천", "추천방식"]] = df_combined.apply(
    lambda r: pd.Series(pick_final(r)), axis=1
)

In [78]:
print(df_combined.head())

       학교식단 음식명_strict  유사도_strict  최장공통문자길이 음식명_sem  유사도_sem   최종추천      추천방식
0     가쓰오장국                  0.444       1.0            0.000   None    review
1    가자미미역국        미역국       0.667       3.0   홍합미역국    0.673  홍합미역국  semantic
2  가자미포카레구이                  0.500       3.0            0.000   None    review
3    가지나물무침       가지나물       0.800       4.0    가지나물    0.834   가지나물    strict
4    가지콩나물밥                  0.800       2.0            0.000           strict

In [80]:
df_combined.to_csv("최종매핑.csv", index=False, encoding="utf-8-sig")

In [81]:
import chardet

# 파일 일부를 읽어 인코딩 감지
raw = open("최종매핑(수정).csv", "rb").read(10000)
enc = chardet.detect(raw)["encoding"]
print("Detected encoding:", enc)

df_map = pd.read_csv("최종매핑(수정).csv", encoding=enc)

Detected encoding: EUC-KR

In [ ]:
# df_map.to_csv("최종매핑_utf8.csv", index=False, encoding="utf-8-sig")

## 5-4. 최종 수정(인력..)

결과를 보고 수정할 수 있는 것 수정

## 5-5. 결과 매핑

In [110]:
# 최종 튜닝된 매핑 결과
df_map = pd.read_csv("최종매핑_update.csv", sep="\t", encoding="cp949")
# 전처리된 음식 영양소 데이터
df_food = pd.read_csv("preprocess_food.csv", encoding="utf-8-sig")

In [111]:
# 영양소로 사용할 숫자형 컬럼 식별
nutrient_cols = df_food.select_dtypes(include=['number']).columns.tolist()
print("영양소 컬럼:", nutrient_cols)

영양소 컬럼: ['중량(g)', '에너지(kcal)', '탄수화물(g)', '당류(g)', '지방(g)', '단백질(g)', '칼슘(mg)', '인(mg)', '나트륨(mg)', '칼륨(mg)', '마그네슘(mg)', '철(mg)', '아연(mg)', '콜레스테롤(mg)']

In [112]:
food_nut_dict = df_food.set_index("음식명")[nutrient_cols].to_dict(orient="index")

In [113]:
# 매핑된 이름별 영양소를 리턴
def get_nutrients(mapped_name):
    """
    mapped_name: 최종 추천 컬럼 값
    - "대체불가" 이거나 dict에 없으면 -1
    - 그외에는 nutrient_cols 값을 그대로 반환
    """
    if mapped_name == "대체불가" or mapped_name not in food_nut_dict:
        return {nut: -1 for nut in nutrient_cols }
    return food_nut_dict[mapped_name]

In [114]:
print(df_map.head())

       학교식단 음식명_strict  유사도_strict  최장공통문자길이 음식명_sem  유사도_sem   최종추천      추천방식
0     가쓰오장국        NaN       0.444         1     NaN    0.000  미소된장국    review
1    가자미미역국        미역국       0.667         3   홍합미역국    0.673  홍합미역국  semantic
2  가자미포카레구이        NaN       0.500         3     NaN    0.000   가자미전    review
3    가지나물무침       가지나물       0.800         4    가지나물    0.834   가지나물    strict
4    가지콩나물밥        NaN       0.800         2     NaN    0.000   곤드레밥    strict

In [115]:
# df_map에 영양소 컬럼 추가
nut_df = df_map["최종추천"].apply(get_nutrients).apply(pd.Series)

display(nut_df.head())

,중량(g),에너지(kcal),탄수화물(g),당류(g),지방(g),단백질(g),칼슘(mg),인(mg),나트륨(mg),칼륨(mg),마그네슘(mg),철(mg),아연(mg),콜레스테롤(mg)
0,150.0,37.9665,1.695,0.0,1.7460,4.1385,98.5845,88.7505,511.9800,156.7305,0.0,1.3785,0.5415,15.675
1,650.0,168.8830,14.131,0.0,6.4285,19.9875,289.3800,226.2845,2066.2720,1549.6845,0.0,11.0955,3.0095,79.625
2,150.0,220.4640,6.684,0.0,7.1235,29.9715,59.5965,279.4755,814.3740,495.9795,0.0,1.2930,0.9090,226.875
3,50.0,21.8730,3.031,0.0,1.2720,0.7320,11.3180,20.2910,159.1745,125.2870,0.0,0.3350,0.1435,0.000
4,350.0,506.8000,108.052,0.0,8.3720,14.1400,30.3240,95.4800,88.7530,815.9235,22.4,1.8760,1.7780,0.000

In [116]:
# 원본 매핑 테이블과 영양소 데이터를 병합
df_final = pd.concat([df_map, nut_df], axis=1)

display(df_final.head())

,학교식단,음식명_strict,유사도_strict,최장공통문자길이,음식명_sem,유사도_sem,최종추천,추천방식,중량(g),에너지(kcal),...,지방(g),단백질(g),칼슘(mg),인(mg),나트륨(mg),칼륨(mg),마그네슘(mg),철(mg),아연(mg),콜레스테롤(mg)
0,가쓰오장국,NaN,0.444,1,NaN,0.000,미소된장국,review,150.0,37.9665,...,1.7460,4.1385,98.5845,88.7505,511.9800,156.7305,0.0,1.3785,0.5415,15.675
1,가자미미역국,미역국,0.667,3,홍합미역국,0.673,홍합미역국,semantic,650.0,168.8830,...,6.4285,19.9875,289.3800,226.2845,2066.2720,1549.6845,0.0,11.0955,3.0095,79.625
2,가자미포카레구이,NaN,0.500,3,NaN,0.000,가자미전,review,150.0,220.4640,...,7.1235,29.9715,59.5965,279.4755,814.3740,495.9795,0.0,1.2930,0.9090,226.875
3,가지나물무침,가지나물,0.800,4,가지나물,0.834,가지나물,strict,50.0,21.8730,...,1.2720,0.7320,11.3180,20.2910,159.1745,125.2870,0.0,0.3350,0.1435,0.000
4,가지콩나물밥,NaN,0.800,2,NaN,0.000,곤드레밥,strict,350.0,506.8000,...,8.3720,14.1400,30.3240,95.4800,88.7530,815.9235,22.4,1.8760,1.7780,0.000

In [117]:
# 공백제거
df_final.columns = df_final.columns.str.strip()

In [119]:
print(df_final.columns)

Index(['학교식단', '음식명_strict', '유사도_strict', '최장공통문자길이', '음식명_sem', '유사도_sem',
       '최종추천', '추천방식', '중량(g)', '에너지(kcal)', '탄수화물(g)', '당류(g)', '지방(g)',
       '단백질(g)', '칼슘(mg)', '인(mg)', '나트륨(mg)', '칼륨(mg)', '마그네슘(mg)', '철(mg)',
       '아연(mg)', '콜레스테롤(mg)'],
      dtype='object')

In [120]:
# 필요없는 열 제거
del_columns = ["음식명_strict","유사도_strict","최장공통문자길이","음식명_sem","유사도_sem","추천방식"]
df_final.drop(columns=del_columns, inplace=True)
print(df_final.columns)

Index(['학교식단', '최종추천', '중량(g)', '에너지(kcal)', '탄수화물(g)', '당류(g)', '지방(g)',
       '단백질(g)', '칼슘(mg)', '인(mg)', '나트륨(mg)', '칼륨(mg)', '마그네슘(mg)', '철(mg)',
       '아연(mg)', '콜레스테롤(mg)'],
      dtype='object')

In [121]:
# 최종추천 열 이름 변경
df_final.rename(columns={"최종추천":"음식명"},inplace=True)
print(df_final.columns)

Index(['학교식단', '음식명', '중량(g)', '에너지(kcal)', '탄수화물(g)', '당류(g)', '지방(g)',
       '단백질(g)', '칼슘(mg)', '인(mg)', '나트륨(mg)', '칼륨(mg)', '마그네슘(mg)', '철(mg)',
       '아연(mg)', '콜레스테롤(mg)'],
      dtype='object')

In [123]:
df_final.to_csv("result_school_food_to_food.csv", index=False, encoding="utf-8-sig")

# 6. 최종 연결

In [149]:
df_school =pd.read_csv("preprocess_school_food.csv")
df_nut = pd.read_csv("result_school_food_to_food.csv", sep="\t", encoding="cp949")

In [150]:
print(df_school.head())

        시도명     학교명        급식날짜      메뉴1      메뉴2       메뉴3      메뉴4  \
0  부산광역시교육청  명호고등학교  2022-02-03  돈삼겹숙주덮밥    실파계란국  느타리잔파초무침  당면김말이강정
1  부산광역시교육청  명호고등학교  2022-02-04      찹쌀밥  들깨아욱된장국   냉푸실리파스타  견과류멸치볶음
2  부산광역시교육청  명호고등학교  2022-02-07      찹쌀밥     사골떡국    겨울초겉절이     호박볶음
3  부산광역시교육청  명호고등학교  2022-02-08     돼지국밥    부추겉절이  오이고추된장무침  도토리묵양념장
4  부산광역시교육청  명호고등학교  2022-02-09      자장면  애플모찌탕수육      배추김치      단무지

        메뉴5     메뉴6  메뉴7  ... 탄수화물(g) 단백질(g) 지방(g)  비타민A(R.E)  티아민(mg)  \
0      배추김치     NaN  NaN  ...   109.7   35.7  34.7      125.5      0.6
1  고구마치즈돈까스    배추김치  NaN  ...   130.2   37.1  25.8      192.5      0.5
2    함박스테이크    배추김치  NaN  ...   119.4   36.2  20.7      407.1      0.5
3       석박지     NaN  NaN  ...   110.3   33.5   8.9      158.5      0.6
4      구운계란  제주감귤주스  NaN  ...   110.3   27.2  27.4      227.2      0.4

   리보플라빈(mg)  비타민C(mg)  칼슘(mg)  철분(mg)  에너지(kcal)
0        0.5       9.6   280.2    11.0      892.6
1        0.5      20.2   362.7     3.4      902.1
2        0.5      49.9   384.9     5.0      791.4
3        0.7      34.4    83.4     6.9      641.7
4        1.3      74.3   209.0     9.7      767.5

[5 rows x 23 columns]

In [151]:
# 2. 메뉴 컬럼만 melt (또는 reshape)
menu_cols = [col for col in df_school.columns if col.startswith("메뉴")]

# 한 행의 여러 메뉴를 한 행에 한 메뉴로 풀기
df_melted = df_school.melt(
    id_vars=["시도명", "학교명", "급식날짜"],
    value_vars=menu_cols,
    var_name="메뉴컬럼",
    value_name="메뉴명"
).dropna(subset=["메뉴명"])

In [152]:
print(df_nut.columns)

Index(['학교식단', '음식명', '중량(g)', '에너지(kcal)', '탄수화물(g)', '당류(g)', '지방(g)',
       '단백질(g)', '칼슘(mg)', '인(mg)', '나트륨(mg)', '칼륨(mg)', '마그네슘(mg)', '철(mg)',
       '아연(mg)', '콜레스테롤(mg)'],
      dtype='object')

In [153]:
print(df_nut.head())

       학교식단    음식명  중량(g)  에너지(kcal)  탄수화물(g)  당류(g)   지방(g)   단백질(g)  \
0     가쓰오장국  미소된장국  150.0    37.9665    1.695    0.0  1.7460   4.1385
1    가자미미역국  홍합미역국  650.0   168.8830   14.131    0.0  6.4285  19.9875
2  가자미포카레구이   가자미전  150.0   220.4640    6.684    0.0  7.1235  29.9715
3    가지나물무침   가지나물   50.0    21.8730    3.031    0.0  1.2720   0.7320
4    가지콩나물밥   곤드레밥  350.0   506.8000  108.052    0.0  8.3720  14.1400

     칼슘(mg)     인(mg)    나트륨(mg)     칼륨(mg)  마그네슘(mg)    철(mg)  아연(mg)  \
0   98.5845   88.7505   511.9800   156.7305       0.0   1.3785  0.5415
1  289.3800  226.2845  2066.2720  1549.6845       0.0  11.0955  3.0095
2   59.5965  279.4755   814.3740   495.9795       0.0   1.2930  0.9090
3   11.3180   20.2910   159.1745   125.2870       0.0   0.3350  0.1435
4   30.3240   95.4800    88.7530   815.9235      22.4   1.8760  1.7780

   콜레스테롤(mg)
0     15.675
1     79.625
2    226.875
3      0.000
4      0.000

In [154]:
print(df_melted.head())
print(df_melted.columns)

        시도명     학교명        급식날짜 메뉴컬럼      메뉴명
0  부산광역시교육청  명호고등학교  2022-02-03  메뉴1  돈삼겹숙주덮밥
1  부산광역시교육청  명호고등학교  2022-02-04  메뉴1      찹쌀밥
2  부산광역시교육청  명호고등학교  2022-02-07  메뉴1      찹쌀밥
3  부산광역시교육청  명호고등학교  2022-02-08  메뉴1     돼지국밥
4  부산광역시교육청  명호고등학교  2022-02-09  메뉴1      자장면
Index(['시도명', '학교명', '급식날짜', '메뉴컬럼', '메뉴명'], dtype='object')

In [155]:
# 3. 영양소 매핑된 메뉴정보 병합
df_merged = pd.merge(df_melted, df_nut, how="left", left_on="메뉴명", right_on="학교식단")

In [156]:
# 4. 필요 없는 컬럼 제거 + 컬럼 순서 정리
final_cols = ["시도명", "학교명", "급식날짜", "메뉴명"] + [col for col in df_nut.columns if col != "메뉴명"]
df_final = df_merged[final_cols]

In [157]:
print(df_final.head())

        시도명     학교명        급식날짜      메뉴명     학교식단    음식명   중량(g)  에너지(kcal)  \
0  부산광역시교육청  명호고등학교  2022-02-03  돈삼겹숙주덮밥  돈삼겹숙주덮밥  불고기덮밥   500.0    699.960
1  부산광역시교육청  명호고등학교  2022-02-04      찹쌀밥      찹쌀밥  기타잡곡밥   200.0    302.362
2  부산광역시교육청  명호고등학교  2022-02-07      찹쌀밥      찹쌀밥  기타잡곡밥   200.0    302.362
3  부산광역시교육청  명호고등학교  2022-02-08     돼지국밥     돼지국밥   돼지국밥  1200.0    811.440
4  부산광역시교육청  명호고등학교  2022-02-08     돼지국밥     돼지국밥   돼지국밥  1200.0    811.440

     탄수화물(g)  당류(g)      지방(g)     단백질(g)  칼슘(mg)    인(mg)   나트륨(mg)   칼륨(mg)  \
0  92.092164   5.99  21.399567  29.311299   45.77  328.370  1182.880  764.500
1  65.521100   0.00   0.746200   6.709200   12.06  117.836     3.392  166.718
2  65.521100   0.00   0.746200   6.709200   12.06  117.836     3.392  166.718
3  78.284000   3.30  36.453000  56.755000   65.73  280.740  1257.670  497.830
4  78.284000   3.30  36.453000  56.755000   65.73  280.740  1257.670  497.830

   마그네슘(mg)      철(mg)     아연(mg)  콜레스테롤(mg)
0     30.22   4.248268   8.772165       72.0
1      6.90   1.744700   1.826400        0.0
2      6.90   1.744700   1.826400        0.0
3     57.14  42.954000  43.665000      734.5
4     57.14  42.954000  43.665000      734.5

In [ ]:
# DB에 맞게 열 변경
df_final.rename(columns={"메뉴명":"메뉴이름"},inplace=True)

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_13644\2869219326.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.rename(columns={"메뉴명":"메뉴이름"},inplace=True)

,시도명,학교명,급식날짜,메뉴이름,중량(g),에너지(kcal),탄수화물(g),당류(g),지방(g),단백질(g),칼슘(mg),인(mg),나트륨(mg),칼륨(mg),마그네슘(mg),철(mg),아연(mg),콜레스테롤(mg)
0,부산광역시교육청,명호고등학교,2022-02-03,돈삼겹숙주덮밥,500.0,699.960,92.092164,5.990,21.399567,29.311299,45.770,328.370,1182.880,764.500,30.220,4.248268,8.772165,72.000
1,부산광역시교육청,명호고등학교,2022-02-04,찹쌀밥,200.0,302.362,65.521100,0.000,0.746200,6.709200,12.060,117.836,3.392,166.718,6.900,1.744700,1.826400,0.000
2,부산광역시교육청,명호고등학교,2022-02-07,찹쌀밥,200.0,302.362,65.521100,0.000,0.746200,6.709200,12.060,117.836,3.392,166.718,6.900,1.744700,1.826400,0.000
3,부산광역시교육청,명호고등학교,2022-02-08,돼지국밥,1200.0,811.440,78.284000,3.300,36.453000,56.755000,65.730,280.740,1257.670,497.830,57.140,42.954000,43.665000,734.500
4,부산광역시교육청,명호고등학교,2022-02-08,돼지국밥,1200.0,811.440,78.284000,3.300,36.453000,56.755000,65.730,280.740,1257.670,497.830,57.140,42.954000,43.665000,734.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4364,부산광역시교육청,명호고등학교,2024-11-05,딸기찹쌀떡,100.0,264.740,62.076000,13.986,0.231000,3.409000,15.680,71.705,226.381,86.783,7.705,1.455000,1.130000,0.000
4365,부산광역시교육청,명호고등학교,2024-11-29,떠먹는요구르트저당,-1.0,-1.000,-1.000000,-1.000,-1.000000,-1.000000,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000000,-1.000000,-1.000
4366,부산광역시교육청,명호고등학교,2024-12-02,귤,-1.0,-1.000,-1.000000,-1.000,-1.000000,-1.000000,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000000,-1.000000,-1.000
4367,부산광역시교육청,명호고등학교,2025-03-07,떠먹는요구르트저당,-1.0,-1.000,-1.000000,-1.000,-1.000000,-1.000000,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000000,-1.000000,-1.000
4368,부산광역시교육청,명호고등학교,2024-11-05,깍두기,50.0,17.988,3.945000,0.050,0.227000,0.997500,19.159,15.328,338.876,148.046,0.000,0.556500,0.144000,4.065

In [165]:
# 불필요 열 삭제
df_final.drop(columns=["학교식단", "음식명"], inplace=True)

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_13644\2777151669.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.drop(columns=["학교식단", "음식명"], inplace=True)

In [169]:
# 대체불가 값 제거
df_final = df_final[df_final["중량(g)"] != -1]

In [171]:
df_final.to_csv("final_school_food.csv", encoding="utf-8-sig")

# 3. 추출
- SQL, CSV 저장

In [ ]:
# import pandas as pd

# # 1) 데이터 로드
# df = pd.read_csv("preprocess_food.csv", encoding="utf-8-sig")
# df_school = pd.read_csv("preprocess_school_food.csv", encoding="utf-8-sig")

# # 2) 학교 테이블 INSERT 생성
# # autoinc PK(pk)는 빼고, (`학교`,`시도명`,`생성일자`,`수정일자`) 만 넣음
# sql_school = []
# for school_name, sido in df_school[["학교","시도명"]].drop_duplicates().values:
#     stmt = (
#         "INSERT INTO `학교` (`학교`,`시도명`,`생성일자`,`수정일자`)\n"
#         f"VALUES ('{school_name}', '{sido}', NOW(), NOW());"
#     )
#     sql_school.append(stmt)

# # 3) 영양소 테이블 INSERT 생성
# # 컬럼명 중 식별 키가 아닌 순수 영양소 컬럼만 뽑아서 (`영양소 이름`,`단위`) 삽입
# nutrient_cols = [
#     c for c in df.columns 
#     if c not in ["음식명","급식날짜","메뉴이름"] 
#        and not c.startswith("메뉴") 
#        and c != "에너지(kcal)"
# ]
# sql_nutrient = []
# for nut in nutrient_cols:
#     stmt = (
#         "INSERT INTO `영양소 테이블` (`영양소 이름`,`단위`)\n"
#         f"VALUES ('{nut}', 'g');"
#     )
#     sql_nutrient.append(stmt)

# # 4) 메뉴 테이블 INSERT 생성
# # autoinc PK(pk) 제외, pk2는 학교 fk → 서브쿼리로 school.pk 참조
# sql_menu = []
# for _, row in df.iterrows():
#     date = pd.to_datetime(row["급식날짜"]).strftime("%Y-%m-%d")
#     school = row["학교"]
#     for i in range(1, 11):
#         mcol = f"메뉴{i}"
#         menu_name = row.get(mcol, "")
#         if not isinstance(menu_name, str) or not menu_name.strip():
#             continue
#         stmt = (
#             "INSERT INTO `메뉴 테이블` "
#             "(`pk2`,`급식날짜`,`메뉴이름`,`선호도`)\n"
#             "VALUES (\n"
#             # school 테이블에서 해당 학교의 pk를 찾아 넣어줌
#             f"  (SELECT `pk` FROM `학교` WHERE `학교` = '{school}'),\n"
#             f"  '{date}',\n"
#             f"  '{menu_name}',\n"
#             "  NULL\n"
#             ");"
#         )
#         sql_menu.append(stmt)

# # 5) 메뉴별 영양소 테이블 INSERT 생성
# # autoinc PK(pk) 제외, pk2는 영양소 fk → 서브쿼리로 nutrient.pk 참조
# sql_menu_nut = []
# for _, row in df.iterrows():
#     date = pd.to_datetime(row["급식날짜"]).strftime("%Y-%m-%d")
#     school = row["학교"]
#     for nut in nutrient_cols:
#         qty = row.get(nut)
#         if pd.isna(qty):
#             continue
#         menu_name = row["메뉴1"]  # 또는 원하는 메뉴 기준 열
#         stmt = (
#             "INSERT INTO `메뉴별 영양소 테이블` "
#             "(`pk2`,`영양소 양`)\n"
#             "VALUES (\n"
#             # nutrient 테이블에서 영양소 pk 찾기
#             f"  (SELECT `pk` FROM `영양소 테이블` WHERE `영양소 이름` = '{nut}'),\n"
#             f"  {qty}\n"
#             ");"
#         )
#         sql_menu_nut.append(stmt)

# # 6) 파일로 출력
# with open("insert_학교.sql", "w", encoding="utf-8") as f:
#     f.write("\n\n".join(sql_school))

# with open("insert_영양소.sql", "w", encoding="utf-8") as f:
#     f.write("\n\n".join(sql_nutrient))

# with open("insert_메뉴.sql", "w", encoding="utf-8") as f:
#     f.write("\n\n".join(sql_menu))

# with open("insert_메뉴별영양소.sql", "w", encoding="utf-8") as f:
#     f.write("\n\n".join(sql_menu_nut))

# print("✅ AUTOINCREMENT PK를 제외한 INSERT 스크립트가 생성되었습니다.")